.header {
  width: 100%;
  height: 90vh;
  position: relative;
  background-size: cover;
  padding: var(--spacer-2);
  justify-content: space-between;
  background-attachment: fixed;
  background-image: url("../img/capa-madmax2.jpg");
}

.header::after{
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );;
}

.header .nav {
  z-index: 2;
  height: 48px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header .nav .list-item{
  margin: 0 var(--spacer);
}

.header .list {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: transparent;
}

.header .list .list-item {
  padding: 0;
  text-align: center;
}

.header .list-item:not(:first-of-type){
  margin-left: var(--spacer);
}

.header .list .list-item a,
.header .nav .user {
  color: var(--white);
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
}

.header .list .list-item a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.header .list .list-item a:hover {
  color: var(--primary);
}

.header .nav .user{
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

.header .nav .user img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: var(--margin);
}

.header .container {
  z-index: 2;
  color: var(--white);
}

.header .container h2{
  font-size: 6.5em;
  font-weight: bold;
  line-height: 1.2em;
}
.header .container .list {
  margin: var(--spacer-2) 0;
}

.header .container .list li a{
  font-size: 13px;
  font-weight: normal;
}

.header .container button {
  height: 48px;
  border: 0;
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  color: var(--black);
  border-radius: 40px;
  padding: var(--spacer) 50px;
  background-color: var(--primary);
}

.header .container button i {
  font-size: 1.4em;
  position: absolute;
  top: var(--spacer);
  right: var(--spacer);
}

.header .container button:hover{
  background-color: var(--primary-hover);
}

.header .container .information {
  font-size: 1.4em;
  padding: var(--spacer) 0;
}

.header .container .information span:not(:first-of-type) {
  padding-top: var(--spacer);
}