.section {
  padding: 0 var(--spacer-2);
  background-color: var(--background-color);
}

.section nav {
  color: var(--primary);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.section nav ul {
  width: 100%;
  padding: 0 var(--spacer);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section nav ul li{
  font-weight: bold;
  padding: var(--spacer) 0;
}

.section nav ul li a {
  font-size: 1.3em;
  color: var(--primary);
}

.section .films {
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  padding: var(--spacer) 0;
}

.section .films .film {
  width: calc(25% - var(--spacer));
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: var(--spacer);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.section .films .film:not(:last-of-type) {
  margin-right: var(--spacer);
}

.section .films .film figure{
  margin: 0;
  position: relative;
}

.section .films .film figure img{
  width: 100%;
}

.section .films .film .synopsis {
  padding: 0 var(--spacer);
  margin-bottom: var(--spacer);
}

.section .films .film .synopsis span{
  font-size: 1.2em;
}

.section .films .film .synopsis .score {
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
}

.section .films .film .synopsis a {
  font-size: 1.2em;
  line-height: 2em;
}

.section .films .film .synopsis .score i {
  color: var(--gray);
}

.section .films .film  figure .overlay {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.section .films .film  figure .overlay  h3 {
  font-size: 2em;
  line-height: 1em;
}

.section .films .film  figure .overlay  a {
  font-size: 5em;
  color: var(--white);
  line-height: 1em;
}

.section .films .film  figure .overlay  a:hover {
  color: var(--primary-hover);
}

.section .films .film  figure:hover .overlay{
  visibility: visible;
  opacity: 1;
}